{% extends "class_base.html" %}

{% load static %}

{% block content %}


Addresses :
<a class="btn btn-sm btn-primary" href="/post_urls/new_address">
    <small>Add Address</small>
</a>

    {% for address in addresses %}
        <h1 style="color: brown;">
            {{address.title}}-{{address.country}}-{{address.city}}
        </h1>
        <br>
        <h3>{{address.street}}-{{address.alley}}-{{address.number}}</h3>
        <br>
        <h3>{{address.zip}}-{{address.desc}}-{{address.number}}</h3>
        <small>{{address.created_on}}</small>
            <p>
                <a class="btn btn-sm btn-primary" href="{% url 'edit-address' id=address.id %}">
                    <small>Edit Address</small>
                </a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete-address' id=address.id %}">
                    <small>حذف</small>
                </a>
            </p>
        <hr>
    {% endfor %}
    

{% endblock content %}