{% extends "class_base.html" %}

{% block content %}
    <div class="container">
        <div class="col-md-12 my-3">
            <form action="{% url 'delete-post' post_id=post.id  %}" method="post">
                {% csrf_token %}
                <p>motmaen hastid ke mikhahid poste <span style="color: red;">{{post.title}}</span> ro delet konid ?</p>
                <input type="submit" , value="bezan berim daa!">
                <br>
                <a href="{% url 'dashboard' %}">bargasht be safhe dashboard</a>
            </form>
        </div>
    </div>
{% endblock content %}