{% extends "class_base.html" %}

{% load static %}

{% block content %}

{% comment %} <a class="btn btn-sm btn-primary" href="post_urls/add_category">
    add category
</a> {% endcomment %}

    {% for user in users %}
    <div class="container mt-3" style="text-align: center;">
        <h1><a href="user/{{user.username}}">{{user.username}}</a></h1>
        <small>{{user.name}}</small>
        <small>posts : {{user.post_set.all}}</small>
        <hr>
    </div>
    {% endfor %}
    

{% endblock content %}