{% extends "class_base.html" %}

{% load static %}

{% block content %}
    <h1>post list :</h1>
    <div class="col-md-12 ">
            <div class="row mt-1 g-3 btn-light " style="height: 100%;">
                {% for post in posts %}
                    <div class="col-md-3 " style="height: auto; border: 1px solid red;">
                        {% if post.image %}
                            <img src="{{post.image.url}}" alt="image_of_post" style="width: 100px; height: 100px; border: solid red; margin-top: 5px;">
                        {% else %}
                            <img src="{% static 'download.jpeg' %}" alt="image_of_post" style="width: 100px; height: 100px; border: solid red;margin-top: 5px;">
                        {% endif %}
                        <br>
                        <h1>{{post.title}}</h1>
                        <p>{{post.shortdesc}}</p>
                        <small>{{post.created_on | date}}</small>
                        <a href="/user/{{post.writer}}"><h2>user : {{post.writer}}</h2></a>
                        <!-- <h3>{{post.tag}}</h3> -->
                        <p>
                            tags :
                            {% for t in post.tag.all  %}
                                {{t}}-
                            {% endfor %}
                        </p>
                        <p>
                            <a href="class_post_detail/{{post.id}}">show detail</a>
                            <br>
                            <a href="class_category_posts/gslug/{{post.slug}}">show detail via SLUG </a>
                        </p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
    </div>


      
{% endblock content %}