{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'style_2.css' %}">

        <!--###-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- ###-->

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Reza blog</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/class_category_list">Home (category list)</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/post_urls/tags/">safhe ye tags</a></li>
                        <li class="nav-item"><a class="nav-link" href="/class_post_list">Post list</a></li>
                        <li class="nav-item" ><a class="nav-link" href="/contact_us">contact us</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                        {% if user.is_authenticated %}
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-badge-cc-fill me-1"></i>
                            Welcom : {{user.username}}
                            <span class="badge bg-dark text-white ms-1 rounded-pill" id="cartval">{{user.post_set.all.count}}</span>
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Reza blog</h1>
                    <p class="lead fw-normal text-white-50 mb-0">نمونه داخلی اینستاگرام</p>
                </div>
                <div class="text-center text-white" style="margin-top: 30px;">
                    <button class="btn btn-secondary" onclick="myFunction()">tap to Show search fields</button>
                    <div class="container mt-3" style="align-items: center; display: none;" id="myDIV">
                        <form method="post" class="form-inline my-2 my-lg-0" action="/post_urls/search_post">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="word">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                Search in titles
                            </button>
                        </form>
                        <form method="post" class="form-inline my-2 my-lg-0" action="/post_urls/search_username">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="word">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                Search in usernames
                            </button>
                        </form>
                        <form method="post" class="form-inline my-2 my-lg-0" action="/post_urls/search_post">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="word">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                Search in posts body
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <div class="bg-light sticky-top shadow ">
            <nav class="container navbar  navbar-light bg-light ">
                <div class="container-fluid justify-content-end">
                    <form class="form-inline">
                        {% if user.is_authenticated %}
                            <a class="btn btn-sm btn-outline-dark" style="margin-left: 5px;" style="border: solid red;"  >
                                <small style="color: blueviolet;">Welcom : {{user.username}}</small>
                            </a>
                            <a class="btn btn-sm btn-outline-danger" style="margin-left: 5px;" href="/logout">
                                <small>logout</small>
                            </a>
                            <a class="btn btn-sm btn-primary" style="margin-left: 5px;" href="/dashboard">
                                <small>dashboard</small>
                            </a>
                        {% else %}
                            <a class="btn btn-sm btn-outline-primary" style="margin-left: 5px;" href="/dashboard">
                                <small>login</small>
                            </a>
                            <a class="btn btn-sm btn-outline-primary" style="margin-left: 5px;" href="/post_urls/register">
                                <small>Register</small>
                            </a>
                        {% endif %}
                        <a class="btn btn-sm btn-outline-dark" style="margin-left: 5px;" href="/users_list">
                            <small>Users list</small>
                        </a>
                        {% comment %} <button class="btn btn-outline-secondary" type="button">Home</button>
                        <button class="btn btn-outline-secondary" type="button">Apps</button>
                        <button class="btn btn-outline-secondary" type="button">Games</button>
                        <button class="btn btn-outline-secondary" type="button">Movies</button>
                        <button class="btn btn-outline-secondary" type="button">Books</button> {% endcomment %}
                    </form>
            </nav>
            </div>
            <hr>
            <hr>
        <!-- Section-->
        <div class="container mt-3" style="text-align: center; min-height: 400px;">
            {% if messages %}
                    {% for message in messages %}
                        <div id="messg" class="alert alert-{{message.tags}}" role="alert">
                            {{message}}
                            <a href="#" class="del-msg">&times;</a>
                        </div>
                    {% endfor %}
            {% endif %}
            
            {% block content %}
            
            {% endblock content %}
        </div>
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Reza Almassi 2021</p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">
        </script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('#messg').fadeOut('slow');
            }, 3000);
    
            // delete message
            $('.del-msg').live('click',function(){
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
    }
    </script>
</html>
