{% extends "class_base.html" %}

{% block content %}
    <h1>class_category_posts</h1>
    {% for post in posts %}
        <h1>{{post.title}}</h1>
        <p>{{post.shortdesc}}</p>
        <small>{{post.created_on | date}}</small>
        <h3>{{post.customer}}</h3>
        <!-- <h3>{{post.tag}}</h3> -->
        {% for t in post.tag.all  %}
          <p>{{t}}</p>
        {% endfor %}
        <p>
            <a href="class_post_detail/{{post.id}}">show detail via ID </a>
            <br>
            <a href="gslug/{{post.slug}}">show detail via SLUG </a>
        </p>
        <hr>
    {% endfor %}
    
      
{% endblock content %}