{% extends "class_base.html" %}

{% load static %}

{% block content %}
    <div class="col-md-12">
        <div class="row" style="height: 100%;">
            <div class="col-md-6">
                {% if post.image %}
                    <img src="{{post.image.url}}" alt="image_of_post" style="width: 800px; height: 800px; border: solid red;">
                {% else %}
                    <img src="{% static 'download.jpeg' %}" alt="image_of_post" style=" border: solid red;">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1>title : {{post.name}}</h1>
                <a href="/user/{{post.writer}}"><h2>user : {{post.owner}}</h2></a>
                <p>shortdesc : {{post.shortdesc}}</p>
                <small>{{post.created_on}}</small>
                <br>
                {% if likes %}
                liked by <span style="border: solid blue;">{{likes.count}} </span>  user :
                    {% for like in likes %}
                    {{like.writer}}-
                    {% endfor %}
                {% else %}
                    No likes.
                {% endif %}
                {% comment %} {% for like in likes %}
                    {{like.writer}}-
                {% endfor %} {% endcomment %}
                <br>
                <h1> slug : {{post.slug}}</h1>
            </div>
        </div>
    </div>

    <hr>
    <h5>status : {{post.status}}</h5>
    <hr>

    <hr>
    <small>tags :</small>
    {% for t in post.tag.all  %}
        <p>{{t}}</p>
    {% endfor %}
    <hr>

    <hr>
    categorys :
    {% for t in post.category.all  %}
        <a href="/class_category_detail/{{t.id}}">{{t}}</a>-

    {% endfor %}
    <hr>
    <div class="container">
        <div class="col-md-12 my-3">
            {% if user.is_authenticated %}
                like :

                    {% comment %} {% if check %}
                        <form action="{% url 'class_detail' post_id=post.id %}" method="post">
                            {% csrf_token %}
                            {{form2.as_p}}
                            <input type="submit" , value="dislike">
                        </form>
                    {% else %}
                        <form action="{% url 'class_detail' post_id=post.id %}" method="post">
                            {% csrf_token %}
                            {{form2.as_p}}
                            <input type="submit" , value="like">
                        </form>
                    {% endif %} {% endcomment %}

                <hr>
                <br>

                {% comment %} <form action="{% url 'class_detail' post_id=post.id %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" , value="bezan berim daa!">
                </form> {% endcomment %}

            {% else %}
                <h3 style="color: red;">login and then you can submit your coomment !</h3>
            {% endif %}
        </div>
    </div>
    <hr>
    <hr>

    <h1> comments : count = {{comments.count}} </h1>
    <hr>
    {% for comment in comments %}
        <h1 style="color: brown;">customer :{{comment.customer}}</h1>
        <a href="/user/{{comment.writer}}">his page</a>
        <h1 style="color: brown;">user :{{comment.writer}}</h1>
        <h2 style="color: rgb(60, 202, 47);">title :{{comment.title}}</h2>
        <h3>body : {{comment.body}}</h3>
        <h6>{{comment.created_on}}</h6>

        {% comment %} {% if comment.writer == request.user %}
            <a class="btn btn-sm btn-danger" href="{% url 'delete-comment' comment_id=comment.id %}">
                <small>حذف</small>
            </a>
            <a class="btn btn-sm btn-primary" href="{% url 'edit-comment' comment_id=comment.id %}">
                <small>ویرایش</small>
            </a>
        {% else %}
        {% endif %} {% endcomment %}

        <hr>
    {% endfor %}

{% endblock content %}