{% extends "class_base.html" %}

{% block content %}
    <div class="container">
        safhe ye login e shoma 
        <div class="col-md-12 my-3">
            {% if request.GET.next %}
                <form action="{% url 'login-mk' %}?next={{request.GET.next}}" method="post">
            {% else %}
                <form action="{% url 'login-mk' %}" method="post">
            {% endif %}
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" , value="login">
            </form>
        </div>
        <a class="btn btn-sm btn-primary" href="/post_urls/login_mobile" style="margin-top: 30px;">
            <small>login using mobile phone</small>
        </a>
        <a class="btn btn-sm btn-primary" href="/post_urls/login_email" style="margin-top: 30px;">
            <small>login using email</small>
        </a>
        <a href="/password-reset">forgotten password ?</a>
    </div>
{% endblock content %}