{% extends "class_base.html" %}

{% block content %}
    <div class="container">
        user : {{user.username}}
        <br>
        safhe ye taghiiire password 
        <div class="col-md-12 my-3">
            <form action="{% url 'new-pass-mk' %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" , value="update new password">
            </form>
            <a class="btn btn-sm btn-danger" href="/dashboard" style="margin-top: 30px;">
                <small>back to dashboard</small>
            </a>
        </div>
    </div>
    {% if message %}
        <h3 class="message.class_css">
            {{message.text}}
        </h3>
        {{message.text}}
    {% else %}
    {% endif %}
{% endblock content %}